@import "tailwindcss";
@import "leaflet/dist/leaflet.css";


.container{
    position: relative;

}

.bottomNavbar{
    position: absolute;
    top: 0;
}

.options-1{
    border: 1px solid rgba(0, 0, 0, 0.429);
    border-width: 0px 0px 1px 0px;
}

.preLoginPage-2{
    border-radius: 20% 20% 0px 0px;
}

.sidebar{
    border-radius: 20px;
    background-color: rgb(248, 248, 248);
    border: 2px solid rgba(128, 128, 128, 0.127);

}

.sidebar-items{
    color: rgb(60, 60, 60);
    padding: 10px;
    margin: 2px;
    border-radius: 10px;
}